software/raspberrypi/HomeAutomation.json
[
    {
        "id": "67d0549c2b9e5f0d",
        "type": "tab",
        "label": "Home Protect",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c52947d8cde69e13",
        "type": "tab",
        "label": "Actuators",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ebe6a6c575db3baa",
        "type": "tab",
        "label": "chauffage",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4cdcf58.df6728",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "779970f0.f44b78",
        "type": "ui_group",
        "name": "Volets",
        "tab": "4a1932e0.9b64c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "16b61bf9.538b74",
        "type": "ui_group",
        "name": "Lumières & Prises",
        "tab": "4a1932e0.9b64c4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4a1932e0.9b64c4",
        "type": "ui_tab",
        "name": "Commands",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e76cd8a0.923828",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "868cc805.d82998",
        "type": "ui_tab",
        "name": "Log",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9506e341.30a43",
        "type": "ui_group",
        "name": "Events",
        "tab": "868cc805.d82998",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "27655cfe.25e50c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a65de426.01a268",
        "type": "tls-config",
        "name": "local-tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "be058c0d9a6fb12a",
        "type": "zigbee2mqtt-server",
        "name": "",
        "host": "127.0.0.1",
        "mqtt_port": "1883",
        "mqtt_username": "",
        "mqtt_password": "",
        "mqtt_qos": "0",
        "tls": "a65de426.01a268",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "2f5cdbd27ad8b3f6",
        "type": "AnamicoAlarmPanel",
        "name": "Maison",
        "contextStore": "default"
    },
    {
        "id": "41fd0e03330574c3",
        "type": "ui_tab",
        "name": "Home Protect",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "176438fd03b77f28",
        "type": "ui_group",
        "name": "Change mode",
        "tab": "41fd0e03330574c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "257567244e8fa0b8",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "41fd0e03330574c3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d9ce33c1dbcfe58b",
        "type": "ui_tab",
        "name": "Chauffage",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1ce851c0ea74ad4",
        "type": "ui_group",
        "name": "Départ eau chaude",
        "tab": "d9ce33c1dbcfe58b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "62fd0e689c033d46",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "d9ce33c1dbcfe58b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0f1846635b5eb38a",
        "type": "AnamicoAlarmPanel",
        "name": "battery",
        "contextStore": "default"
    },
    {
        "id": "a9cd4dfb2fda1c33",
        "type": "ui_group",
        "name": "Température",
        "tab": "d9ce33c1dbcfe58b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80fbf40f8f450ab8",
        "type": "ui_dropdown",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "176438fd03b77f28",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Away",
                "value": "arm_all_zones",
                "type": "str"
            },
            {
                "label": "Night",
                "value": "arm_day_zones",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "disarm",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "86abce6e9018d64f"
            ]
        ]
    },
    {
        "id": "700fa34b78f56bbf",
        "type": "AnamicoAlarmChangeState",
        "z": "67d0549c2b9e5f0d",
        "name": "Protect Status",
        "panel": "2f5cdbd27ad8b3f6",
        "format": "2",
        "x": 1200,
        "y": 200,
        "wires": []
    },
    {
        "id": "697ad3a8a61e647c",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "176438fd03b77f28",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "13d83cf0b1680880",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "to Text",
        "func": "if (msg.payload==0)\n{\n  msg.payload = \"Home\";\n  return msg;\n}\nelse if (msg.payload ==1)\n{\n  msg.payload = \"Away\";\n  return msg;\n}\nelse if (msg.payload ==2)\n{\n  msg.payload = \"Night\";\n  return msg;\n}\nelse if (msg.payload ==3)\n{\n  msg.payload = \"Off\";\n  return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "697ad3a8a61e647c",
                "108fc941008d8bf6"
            ]
        ]
    },
    {
        "id": "80639bd2500719ff",
        "type": "AnamicoAlarmStateChanged",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "panel": "2f5cdbd27ad8b3f6",
        "format": "2",
        "sendInitialState": 1,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "13d83cf0b1680880"
            ]
        ]
    },
    {
        "id": "b6b459041e28d05e",
        "type": "AnamicoAlarmTriggered",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "panel": "2f5cdbd27ad8b3f6",
        "delay": "",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "e545068c86440e43",
                "b6852fe860f286f3",
                "a82f235b34e50296"
            ]
        ]
    },
    {
        "id": "923bcc1a06932e61",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open/closed",
        "func": "if (msg.payload == false)\n  msg.payload = \"open\";\nelse if (msg.payload == true)\n  msg.payload = \"closed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 680,
        "wires": [
            [
                "91ec40e0a40b6f5c",
                "12697319f064f9de"
            ]
        ]
    },
    {
        "id": "21adb71218fcfad4",
        "type": "inject",
        "z": "67d0549c2b9e5f0d",
        "name": "Night mode",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "arm_day_zones",
        "payloadType": "str",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "6f02906bea7a21ea"
            ]
        ]
    },
    {
        "id": "a984a60d5b9fc1cd",
        "type": "inject",
        "z": "67d0549c2b9e5f0d",
        "name": "Off / Morning",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "disarm",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "0748522abe1bb573"
            ]
        ]
    },
    {
        "id": "6f02906bea7a21ea",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "off->night",
        "func": "var alarm_status = global.get('SecuritySystemCurrentState_2f5cdbd27ad8b3f6');\nif (alarm_status==3)\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "86abce6e9018d64f"
            ]
        ]
    },
    {
        "id": "0748522abe1bb573",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "night->off",
        "func": "var alarm_status = global.get('SecuritySystemCurrentState_2f5cdbd27ad8b3f6');\nif (alarm_status==2)\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [
            [
                "86abce6e9018d64f"
            ]
        ]
    },
    {
        "id": "c653b0d3bfd66e0f",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "parse serial",
        "func": "//20;14;Kaku;ID=20;SWITCH=1;CMD=01548F\nif (msg.payload.length>14 && msg.payload.length<60){\n    \n\nvar output = msg.payload.split(\";\");\nvar output1 = parseInt(output[3].slice(3), 16);\nvar output2 = parseInt(output[5].slice(4,6), 16);\nvar output3 = parseInt(output[5].slice(6,8), 16);\nvar output4 = parseInt(output[5].slice(8,10), 16)*0.2 -10.0;\nvar output5 = new Date();//.toLocaleString();\n\n\n\n  //msg.payload = [output1,output2,output3,output4];\n  msg.payload = { \"id\": output1, \"status\": output2, \"battery\": output3, \"temperature\": output4, \"lastSeen\": output5 };\n\n  return msg;\n}\n  \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "e8796a3e39e12645"
            ]
        ]
    },
    {
        "id": "3933577be25e0c7d",
        "type": "serial in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "serial": "b4cdcf58.df6728",
        "x": 470,
        "y": 1420,
        "wires": [
            [
                "c653b0d3bfd66e0f"
            ]
        ]
    },
    {
        "id": "eb439893d9a3d8b0",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "salon p?",
        "func": "\nvar status = msg.payload[\"occupancy\"];\n  if (status == true)\n    msg.payload = \"oui\"\n  else msg.payload = \"non\"\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1320,
        "wires": [
            [
                "b4253ea5031e5d4b",
                "6f3c34308f8a2555"
            ]
        ]
    },
    {
        "id": "e8796a3e39e12645",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "add names",
        "func": "var newMsg = msg;\nvar name=\"\";\n\nif (msg.payload.id == 0x14){\n    name = \"escalier_p\"\n}\nif (msg.payload.id == 0x10){\n    name = \"veranda_d\"\n}\nif (msg.payload.id == 0x0c){\n    name = \"cuisine_w\"\n}\nif (msg.payload.id == 0x0e){\n    name = \"buanderie_d\"\n}\nif (msg.payload.id == 0xFFFFFD){\n    name = \"salon_p\"\n}\nif (msg.payload.id == 0x555555){\n    name = \"cuisine_p\"\n}\nif (msg.payload.id == 0x3ED3D1) {\n    name = \"telco\";\n    newMsg.payload[\"status\"] = 1;\n}\n\nif (msg.payload.id == 0x3ED3D2) {\n    name = \"telco\";\n    newMsg.payload[\"status\"] = 0;\n}\nif (msg.payload.id == 0x63){\n    name = \"keyboard\"\n}\n\nnewMsg.payload[\"name\"] = name;\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1420,
        "wires": [
            [
                "0d1ca68f93b6b0a8"
            ]
        ]
    },
    {
        "id": "60f9b22aef452916",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "257567244e8fa0b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porte buanderie",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "901017c6f04f3cba",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Porte buanderie",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "0",
            "1",
            "2"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1020,
        "y": 920,
        "wires": []
    },
    {
        "id": "b6852fe860f286f3",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "SIREN ON",
        "func": "msg.payload = \"10;NewKaku;FFFFFF;1;ON\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 400,
        "wires": [
            [
                "be9a0cebfe8b8ea1"
            ]
        ]
    },
    {
        "id": "be9a0cebfe8b8ea1",
        "type": "serial out",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "serial": "b4cdcf58.df6728",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "e545068c86440e43",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "Alarme description",
        "func": "msg.payload = \"Alarme \" + msg.payload.source;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 340,
        "wires": [
            [
                "697ad3a8a61e647c",
                "ef05b29983c44dcb"
            ]
        ]
    },
    {
        "id": "a82f235b34e50296",
        "type": "delay",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "fd4687bffff0634c"
            ]
        ]
    },
    {
        "id": "fd4687bffff0634c",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "SIREN OFF",
        "func": "msg.payload = \"10;NewKaku;FFFFFF;1;OFF\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "be9a0cebfe8b8ea1"
            ]
        ]
    },
    {
        "id": "2f435ed67b2134ed",
        "type": "file",
        "z": "67d0549c2b9e5f0d",
        "name": "write file",
        "filename": "/home/pi/node-red-alarm.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 760,
        "y": 1640,
        "wires": [
            [
                "174bfa6d824e2f98"
            ]
        ]
    },
    {
        "id": "ea117d6fa1cc3d57",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "9506e341.30a43",
        "order": 0,
        "width": "1",
        "height": "10",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1750,
        "y": 1680,
        "wires": []
    },
    {
        "id": "174bfa6d824e2f98",
        "type": "exec",
        "z": "67d0549c2b9e5f0d",
        "command": "tail -n 30 /home/pi/node-red-alarm.log",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 990,
        "y": 1640,
        "wires": [
            [
                "8fae20e86ad1dbf7"
            ],
            [],
            []
        ]
    },
    {
        "id": "8fae20e86ad1dbf7",
        "type": "file",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "filename": "/home/pi/node-red-alarm.log",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1340,
        "y": 1680,
        "wires": [
            [
                "ddd290e1480aa63e"
            ]
        ]
    },
    {
        "id": "99e615e91a6b8750",
        "type": "serial out",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "serial": "b4cdcf58.df6728",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "108fc941008d8bf6",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "if OFF",
        "func": "if (msg.payload == \"Off\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 560,
        "wires": [
            [
                "fd4687bffff0634c"
            ]
        ]
    },
    {
        "id": "b4253ea5031e5d4b",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "oui",
        "func": "if (msg.payload == \"oui\")\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1320,
        "wires": [
            [
                "cdb5549457200a8e"
            ]
        ]
    },
    {
        "id": "ddd290e1480aa63e",
        "type": "template",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<pre>{{payload}}</pre>",
        "output": "str",
        "x": 1580,
        "y": 1680,
        "wires": [
            [
                "ea117d6fa1cc3d57"
            ]
        ]
    },
    {
        "id": "91ec40e0a40b6f5c",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open",
        "func": "if (msg.payload == \"open\")\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 680,
        "wires": [
            [
                "36398d4e4157f3d4"
            ]
        ]
    },
    {
        "id": "36398d4e4157f3d4",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Fenêtre cuisine",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "1"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "12697319f064f9de",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "257567244e8fa0b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fenêtre cuisine",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "ef05b29983c44dcb",
        "type": "e-mail",
        "z": "67d0549c2b9e5f0d",
        "server": "ssl0.ovh.net",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "etienne_mouragnon@hotmail.com",
        "dname": "ovh",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "ff2e661b143df266",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open/closed",
        "func": "if (msg.payload == false)\n  msg.payload = \"open\";\nelse if (msg.payload == true)\n  msg.payload = \"closed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 800,
        "wires": [
            [
                "189838564daee135",
                "086fe18fd5082d9e"
            ]
        ]
    },
    {
        "id": "189838564daee135",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open",
        "func": "if (msg.payload == \"open\")\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 800,
        "wires": [
            [
                "daa8b9baab06d083"
            ]
        ]
    },
    {
        "id": "daa8b9baab06d083",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Porte véranda",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "0",
            "1",
            "2"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "086fe18fd5082d9e",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "257567244e8fa0b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porte véranda",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "83d53cd11d3acd10",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open/closed",
        "func": "if (msg.payload == false)\n  msg.payload = \"open\";\nelse if (msg.payload == true)\n  msg.payload = \"closed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 920,
        "wires": [
            [
                "60f9b22aef452916",
                "f06ddedf73bdaf90"
            ]
        ]
    },
    {
        "id": "f06ddedf73bdaf90",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open",
        "func": "if (msg.payload == \"open\")\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 920,
        "wires": [
            [
                "901017c6f04f3cba"
            ]
        ]
    },
    {
        "id": "6f3c34308f8a2555",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "257567244e8fa0b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Présence salon",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 1360,
        "wires": []
    },
    {
        "id": "cdb5549457200a8e",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Présence salon",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "1"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1020,
        "y": 1320,
        "wires": []
    },
    {
        "id": "734fe07720a38740",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "oui/non",
        "func": "if (msg.payload == false)\n  msg.payload = \"non\";\nelse if (msg.payload == true)\n  msg.payload = \"oui\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "1ac3313156f66161",
                "0f5e6aae4c32d9de"
            ]
        ]
    },
    {
        "id": "eab76d8c76277d41",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Présence cuisine",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "1"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0f5e6aae4c32d9de",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "257567244e8fa0b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Présence cuisine",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1ac3313156f66161",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "oui",
        "func": "if (msg.payload == \"oui\")\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1040,
        "wires": [
            [
                "eab76d8c76277d41"
            ]
        ]
    },
    {
        "id": "98e424725fe61ab9",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Fenetre Cuisine (SNZB-04)",
        "device_id": "0x00124b0029297d78",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "923bcc1a06932e61"
            ]
        ]
    },
    {
        "id": "8b130ade9eb2d3f5",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte Veranda (SNZB-04)",
        "device_id": "0x00124b0029278723",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "ff2e661b143df266"
            ]
        ]
    },
    {
        "id": "dd23efb6344c43c4",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte buanderie (SNZB-04)",
        "device_id": "0x00124b002927995d",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 470,
        "y": 920,
        "wires": [
            [
                "83d53cd11d3acd10"
            ]
        ]
    },
    {
        "id": "3a8df83fa088ff3c",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Mouvement Cuisine (SNZB-03)",
        "device_id": "0x00124b0025147438",
        "state": "occupancy",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "734fe07720a38740"
            ]
        ]
    },
    {
        "id": "8fad2b27369b3df2",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Fenetre Cuisine (SNZB-04)",
        "device_id": "0x00124b0029297d78",
        "state": "battery_low",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1800,
        "wires": [
            [
                "54ec372f361afd53"
            ]
        ]
    },
    {
        "id": "a70db32ca7f4a77a",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte Veranda (SNZB-04)",
        "device_id": "0x00124b0029278723",
        "state": "battery_low",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1840,
        "wires": [
            [
                "54ec372f361afd53"
            ]
        ]
    },
    {
        "id": "02acefa4e1cb43aa",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte buanderie (SNZB-04)",
        "device_id": "0x00124b002927995d",
        "state": "battery_low",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1880,
        "wires": [
            [
                "54ec372f361afd53"
            ]
        ]
    },
    {
        "id": "4fd5f91434d80506",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Mouvement Cuisine (SNZB-03)",
        "device_id": "0x00124b0025147438",
        "state": "battery_low",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 130,
        "y": 1920,
        "wires": [
            [
                "54ec372f361afd53"
            ]
        ]
    },
    {
        "id": "e20b08a04aa39d66",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Low level",
        "panel": "0f1846635b5eb38a",
        "alarmStates": [
            "0",
            "1",
            "2",
            "3"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 600,
        "y": 1840,
        "wires": []
    },
    {
        "id": "54ec372f361afd53",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "test bat level",
        "func": "if (msg.payload==true){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1840,
        "wires": [
            [
                "e20b08a04aa39d66"
            ]
        ]
    },
    {
        "id": "dcfecfa8578d60c2",
        "type": "AnamicoAlarmTriggered",
        "z": "67d0549c2b9e5f0d",
        "name": "Low level",
        "panel": "0f1846635b5eb38a",
        "delay": "",
        "x": 540,
        "y": 1900,
        "wires": [
            [
                "a1ced36a184a7c40"
            ]
        ]
    },
    {
        "id": "e98338e9b92d540a",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open/closed",
        "func": "if (msg.payload == false)\n  msg.payload = \"open\";\nelse if (msg.payload == true)\n  msg.payload = \"closed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "43a703e7e0c693a2",
                "d7a24ccdbfa6e953",
                "581dcc120409e0c9"
            ]
        ]
    },
    {
        "id": "43a703e7e0c693a2",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "open",
        "func": "if (msg.payload == \"open\")\n  return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1140,
        "wires": [
            [
                "faecae44cae79df1",
                "fa901b2508d4fd25"
            ]
        ]
    },
    {
        "id": "faecae44cae79df1",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Porte garage",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "0",
            "1",
            "2"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1010,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d7a24ccdbfa6e953",
        "type": "ui_text",
        "z": "67d0549c2b9e5f0d",
        "group": "257567244e8fa0b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porte garage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 850,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a9030c43d73c20aa",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte garage (SNZB-04)",
        "device_id": "0x00124b0029277905",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 410,
        "y": 1120,
        "wires": [
            [
                "e98338e9b92d540a"
            ]
        ]
    },
    {
        "id": "1a3f3afc1079a26a",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte Garage (SNZB-04)",
        "device_id": "0x00124b0029277905",
        "state": "battery_low",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1960,
        "wires": [
            [
                "54ec372f361afd53"
            ]
        ]
    },
    {
        "id": "5df4d92332712553",
        "type": "AnamicoAlarmSensor",
        "z": "67d0549c2b9e5f0d",
        "name": "Porte garage tempo",
        "panel": "2f5cdbd27ad8b3f6",
        "alarmStates": [
            "0",
            "1",
            "2",
            "3"
        ],
        "triggerType": null,
        "triggerCondition": "",
        "triggerConditionError": false,
        "x": 1480,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fa901b2508d4fd25",
        "type": "delay",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1070,
        "y": 1220,
        "wires": [
            [
                "d8e28a59a940f448"
            ]
        ]
    },
    {
        "id": "581dcc120409e0c9",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "save garage state",
        "func": "global.set(\"garage_door_state\", msg.payload)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e28a59a940f448",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "check garage state",
        "func": "var mystate = global.get(\"garage_door_state\");\nif (mystate == \"open\"){\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1220,
        "wires": [
            [
                "5df4d92332712553"
            ]
        ]
    },
    {
        "id": "d51253a6d6526363",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Mouvement Cuisine (SNZB-03)",
        "device_id": "0x00124b0025147438",
        "state": "occupancy",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 130,
        "y": 1640,
        "wires": [
            [
                "f7772dfa47069f8f"
            ]
        ]
    },
    {
        "id": "57c6c4b1041a2061",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte Veranda (SNZB-04)",
        "device_id": "0x00124b0029278723",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1560,
        "wires": [
            [
                "3cac315826140a60"
            ]
        ]
    },
    {
        "id": "f7772dfa47069f8f",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "text",
        "func": "var text = (new Date()).toLocaleString();\ntext += \" \";\ntext += \"cuisine_m\".padEnd(12, \".\");\ntext += \" Status:\";\nif (msg.payload) {\n    text += \"1\";\n} else {\n    text += \"0\";\n}\n\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1640,
        "wires": [
            [
                "2f435ed67b2134ed"
            ]
        ]
    },
    {
        "id": "3cac315826140a60",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "text",
        "func": "var text = (new Date()).toLocaleString();\ntext += \" \";\ntext += \"veranda_d\".padEnd(12, \".\");\ntext += \" Status:\";\nif (msg.payload) {\n    text += \"0\";\n} else {\n    text += \"1\";\n}\n\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "2f435ed67b2134ed"
            ]
        ]
    },
    {
        "id": "588712b1d52e57f6",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Fenetre Cuisine (SNZB-04)",
        "device_id": "0x00124b0029297d78",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1520,
        "wires": [
            [
                "985f39ccb7197355"
            ]
        ]
    },
    {
        "id": "985f39ccb7197355",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "text",
        "func": "var text = (new Date()).toLocaleString();\ntext += \" \";\ntext += \"cuisine_w\".padEnd(12, \".\");\ntext += \" Status:\";\nif (msg.payload){\n    text +=\"0\";\n} else {\n    text +=\"1\";\n}\n\nmsg.payload = text;\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1520,
        "wires": [
            [
                "2f435ed67b2134ed"
            ]
        ]
    },
    {
        "id": "80500eaa34df236e",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte buanderie (SNZB-04)",
        "device_id": "0x00124b002927995d",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1600,
        "wires": [
            [
                "0971474314aa539c"
            ]
        ]
    },
    {
        "id": "0971474314aa539c",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "text",
        "func": "var text = (new Date()).toLocaleString();\ntext += \" \";\ntext += \"buanderie_d\".padEnd(12, \".\");\ntext += \" Status:\";\nif (msg.payload) {\n    text += \"0\";\n} else {\n    text += \"1\";\n}\n\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1600,
        "wires": [
            [
                "2f435ed67b2134ed"
            ]
        ]
    },
    {
        "id": "de3b1677ca8e6d98",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "Porte Garage (SNZB-04)",
        "device_id": "0x00124b0029277905",
        "state": "contact",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 1680,
        "wires": [
            [
                "bb81b847ad774e12"
            ]
        ]
    },
    {
        "id": "bb81b847ad774e12",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "text",
        "func": "var text = (new Date()).toLocaleString();\ntext += \" \";\ntext += \"garage_d\".padEnd(12, \".\");\ntext += \" Status:\";\nif (msg.payload) {\n    text += \"0\";\n} else {\n    text += \"1\";\n}\n\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1680,
        "wires": [
            [
                "2f435ed67b2134ed"
            ]
        ]
    },
    {
        "id": "ec251df251e84ed2",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "cutoff auto change",
        "func": "var alarm_status = global.get('SecuritySystemCurrentState_2f5cdbd27ad8b3f6');\nvar new_status = msg.payload;\n\n\nif ((alarm_status == 3 && new_status == \"arm_day_zones\")|| (alarm_status == 2 && new_status == \"disarm\")){\n return 0;\n}\nelse return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "37badabaa4f949ec"
            ]
        ]
    },
    {
        "id": "7cb77eefe3ed946c",
        "type": "delay",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "2c14540ad22dde6c"
            ]
        ]
    },
    {
        "id": "37badabaa4f949ec",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "code -> sound",
        "func": "if (msg.payload == \"arm_all_zones\") {\n    msg.payload = \"10;NewKaku;FFFFFE;1;ON\\r\\n\";\n    return msg;\n}\nelse if (msg.payload == \"disarm\") {\n    msg.payload = \"10;NewKaku;FFFFFE;1;OFF\\r\\n\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "99e615e91a6b8750"
            ]
        ]
    },
    {
        "id": "a1ced36a184a7c40",
        "type": "e-mail",
        "z": "67d0549c2b9e5f0d",
        "server": "ssl0.ovh.net",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "etienne_mouragnon@hotmail.com",
        "dname": "ovh",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "86abce6e9018d64f",
        "type": "mqtt out",
        "z": "67d0549c2b9e5f0d",
        "name": "protection_command",
        "topic": "protection_command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "27655cfe.25e50c",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "d7b23f7a39cab12b",
        "type": "mqtt in",
        "z": "67d0549c2b9e5f0d",
        "name": "protection_command",
        "topic": "protection_command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "27655cfe.25e50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 120,
        "wires": [
            [
                "ec251df251e84ed2"
            ]
        ]
    },
    {
        "id": "2c14540ad22dde6c",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "button->code",
        "func": "if (msg.payload == \"arm_all_zones\")\n  msg.payload = 1;\nelse if (msg.payload == \"arm_day_zones\")\n  msg.payload = 2;\nelse if (msg.payload == \"disarm\")\n    msg.payload = 3;\nelse return;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "700fa34b78f56bbf"
            ]
        ]
    },
    {
        "id": "5025fdcd8f1f3fa3",
        "type": "mqtt in",
        "z": "67d0549c2b9e5f0d",
        "name": "protection_command",
        "topic": "protection_command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "27655cfe.25e50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "7cb77eefe3ed946c"
            ]
        ]
    },
    {
        "id": "39da07af172b5e92",
        "type": "mqtt out",
        "z": "67d0549c2b9e5f0d",
        "name": "protection_command",
        "topic": "zigbee2mqtt/Mouvement Cuisine",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "27655cfe.25e50c",
        "x": 340,
        "y": 440,
        "wires": []
    },
    {
        "id": "5fcb3fe703c9c37e",
        "type": "inject",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"battery\": 100,     \"battery_low\": false,     \"linkquality\": 42,     \"occupancy\": false,     \"tamper\": false,     \"voltage\": 3300 }",
        "payloadType": "str",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "39da07af172b5e92"
            ]
        ]
    },
    {
        "id": "0d1ca68f93b6b0a8",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "salon p?",
        "func": "if (msg.payload.name == \"salon_p\"){\n    var status = msg.payload.status;\n    if (status == 1)\n      msg.payload = { \"occupancy\": true }\n    else msg.payload = { \"occupancy\": false }\n  msg.topic = \"serial/Mouvement Salon\"\n\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1420,
        "wires": [
            [
                "f5c2f24ee114d618"
            ]
        ]
    },
    {
        "id": "f5c2f24ee114d618",
        "type": "mqtt out",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "27655cfe.25e50c",
        "x": 1170,
        "y": 1420,
        "wires": []
    },
    {
        "id": "aed6c940d05da9e6",
        "type": "mqtt in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "topic": "serial/Mouvement Salon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "27655cfe.25e50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "eb439893d9a3d8b0"
            ]
        ]
    },
    {
        "id": "f47292660716dc74",
        "type": "mqtt in",
        "z": "67d0549c2b9e5f0d",
        "name": "",
        "topic": "serial/Mouvement Salon",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "27655cfe.25e50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "190e5ecad1b6e313"
            ]
        ]
    },
    {
        "id": "190e5ecad1b6e313",
        "type": "function",
        "z": "67d0549c2b9e5f0d",
        "name": "text",
        "func": "var text = (new Date()).toLocaleString();\ntext += \" \";\ntext += \"salon_m\".padEnd(12, \".\")\ntext += \" Status:\";\nif (msg.payload[\"occupancy\"]) {\n    text += \"1\";\n} else {\n    text += \"0\";\n}\n\nmsg.payload = text;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "2f435ed67b2134ed"
            ]
        ]
    },
    {
        "id": "afd105f260dbb71c",
        "type": "zigbee2mqtt-in",
        "z": "67d0549c2b9e5f0d",
        "name": "keyfob",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "keyfob (LDSENK09)",
        "device_id": "0xcc86ecfffecd3da6",
        "state": "action",
        "outputAtStartup": false,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "80fbf40f8f450ab8"
            ]
        ]
    },
    {
        "id": "11a82590e995941c",
        "type": "serial out",
        "z": "c52947d8cde69e13",
        "name": "",
        "serial": "b4cdcf58.df6728",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "469bc4ec60510611",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Volet 1",
        "tooltip": "",
        "place": "",
        "group": "779970f0.f44b78",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Open",
                "value": "10;X10;000041;1;UP",
                "type": "str"
            },
            {
                "label": "Close",
                "value": "10;X10;000041;1;DOWN",
                "type": "str"
            },
            {
                "label": "Stop",
                "value": "10;X10;000041;1;STOP",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 610,
        "y": 200,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "38c04ffee1d70e8b",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Volet 2",
        "tooltip": "",
        "place": "",
        "group": "779970f0.f44b78",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Open",
                "value": "10;X10;000041;2;UP",
                "type": "str"
            },
            {
                "label": "Close",
                "value": "10;X10;000041;2;DOWN",
                "type": "str"
            },
            {
                "label": "Stop",
                "value": "10;X10;000041;2;STOP",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 608.0833282470703,
        "y": 250,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "8a140d367c79515a",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Volet 3",
        "tooltip": "",
        "place": "",
        "group": "779970f0.f44b78",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Open",
                "value": "10;X10;000041;3;UP",
                "type": "str"
            },
            {
                "label": "Close",
                "value": "10;X10;000041;3;DOWN",
                "type": "str"
            },
            {
                "label": "Stop",
                "value": "10;X10;000041;3;STOP",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "94a7230cbb47d38c",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Volets",
        "tooltip": "",
        "place": "",
        "group": "779970f0.f44b78",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Open",
                "value": "10;X10;000041;a;UP",
                "type": "str"
            },
            {
                "label": "Close",
                "value": "10;X10;000041;a;DOWN",
                "type": "str"
            },
            {
                "label": "Stop",
                "value": "10;X10;000041;a;STOP",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "33b99262d5018286",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Lumière Salon",
        "tooltip": "",
        "place": "",
        "group": "16b61bf9.538b74",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "10;HomeEasy;B6E3F2;2;ON",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "10;HomeEasy;B6E3F2;2;OFF",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 640,
        "y": 360,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "86603ea2bf94a3b0",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Prise Chambre",
        "tooltip": "",
        "place": "",
        "group": "16b61bf9.538b74",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "10;HomeEasy;B6E3F2;1;ON",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "10;HomeEasy;B6E3F2;1;OFF",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "5222149e71ec0f02",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Lumière Chambre Eloïse",
        "tooltip": "",
        "place": "",
        "group": "16b61bf9.538b74",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "10;Kaku;0096D6B0;1;ON",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "10;Kaku;0093E890;1;ON",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 670,
        "y": 440,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "b5da321a5bdef9e0",
        "type": "ui_dropdown",
        "z": "c52947d8cde69e13",
        "name": "",
        "label": "Lumière Chambre Laetitia",
        "tooltip": "",
        "place": "",
        "group": "16b61bf9.538b74",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "10;Kaku;0099CE3C;1;ON",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "10;Kaku;0090151C;1;ON",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "11a82590e995941c"
            ]
        ]
    },
    {
        "id": "e551a0f25c0817b9",
        "type": "inject",
        "z": "c52947d8cde69e13",
        "name": "Open morning",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "15 07 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10;X10;000041;a;UP",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "63e9cfac340895e1"
            ]
        ]
    },
    {
        "id": "63e9cfac340895e1",
        "type": "delay",
        "z": "c52947d8cde69e13",
        "name": "",
        "pauseType": "delay",
        "timeout": "12",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "47375b104d718f83"
            ]
        ]
    },
    {
        "id": "47375b104d718f83",
        "type": "function",
        "z": "c52947d8cde69e13",
        "name": "Stop",
        "func": "msg.payload = \"10;X10;000041;a;STOP\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "94a7230cbb47d38c"
            ]
        ]
    },
    {
        "id": "22ab424ebf7d3072",
        "type": "sunrise",
        "z": "c52947d8cde69e13",
        "name": "Sunset",
        "lat": "45.7833",
        "lon": "3.0833",
        "start": "sunrise",
        "end": "sunset",
        "soff": 0,
        "eoff": "5",
        "x": 190,
        "y": 200,
        "wires": [
            [],
            [
                "65d9a71915af4f0d"
            ]
        ]
    },
    {
        "id": "65d9a71915af4f0d",
        "type": "function",
        "z": "c52947d8cde69e13",
        "name": "Close",
        "func": "if (msg.payload == 0)\n{\n    msg.payload = \"10;X10;000041;a;DOWN\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "94a7230cbb47d38c"
            ]
        ]
    },
    {
        "id": "d49fbaaae7a896ac",
        "type": "inject",
        "z": "c52947d8cde69e13",
        "name": "Open morning",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 07 * * 6,0",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10;X10;000041;a;UP",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "63e9cfac340895e1"
            ]
        ]
    },
    {
        "id": "d84c7f203c4882da",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "Manuel",
        "tooltip": "",
        "group": "a1ce851c0ea74ad4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "50",
        "step": "5",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "29c1b60c8c97238f"
            ]
        ]
    },
    {
        "id": "e510f4606d0e2464",
        "type": "mqtt in",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "topic": "outTopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "27655cfe.25e50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "a679e6517f4f997d"
            ]
        ]
    },
    {
        "id": "5bbb6edab18cd4ce",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "function 1",
        "func": "msg.payload=Number(msg.payload.split(',')[0])\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 480,
        "wires": [
            [
                "32c97b50f9cdf64a",
                "fab0998ad81b20e0"
            ]
        ]
    },
    {
        "id": "32c97b50f9cdf64a",
        "type": "ui_gauge",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "group": "a1ce851c0ea74ad4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "T°C",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "fab0998ad81b20e0",
        "type": "ui_chart",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "group": "a1ce851c0ea74ad4",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "T°C",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 650,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "0878d18fabc8cf70",
        "type": "mqtt out",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "topic": "inTopic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "27655cfe.25e50c",
        "x": 1480,
        "y": 480,
        "wires": []
    },
    {
        "id": "29c1b60c8c97238f",
        "type": "trigger",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1110,
        "y": 480,
        "wires": [
            [
                "7c6a4e90c17c004f"
            ]
        ]
    },
    {
        "id": "7c6a4e90c17c004f",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "commande",
        "func": "msg.payload = \"3,\"+String(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 480,
        "wires": [
            [
                "0878d18fabc8cf70"
            ]
        ]
    },
    {
        "id": "73402be802c862b0",
        "type": "inject",
        "z": "ebe6a6c575db3baa",
        "name": "every hour",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 0-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "7e19ac17c05cfd9f",
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "7e19ac17c05cfd9f",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmsg.payload=mystate.values[new Date().getHours()];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 620,
        "wires": [
            [
                "d84c7f203c4882da"
            ]
        ]
    },
    {
        "id": "c246c53387d7fbcc",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "to Text",
        "func": "var mystate = global.get(\"heat_table\");\nvar heat_table = mystate.values;\nvar txt=\n\"00:00 - 01-00: \"+ heat_table[0].toString() + \"\\n\"+\n\"01:00 - 02-00: \" + heat_table[1].toString() + \"\\n\"+\n\"02:00 - 03-00: \" + heat_table[2].toString() + \"\\n\" +\n\"03:00 - 04-00: \" + heat_table[3].toString() + \"\\n\" +\n\"04:00 - 05-00: \" + heat_table[4].toString() + \"\\n\" +\n\"05:00 - 06-00: \" + heat_table[5].toString() + \"\\n\" +\n\"06:00 - 07-00: \" + heat_table[6].toString() + \"\\n\" +\n\"07:00 - 08-00: \" + heat_table[7].toString() + \"\\n\" +\n\"08:00 - 09-00: \" + heat_table[8].toString() + \"\\n\" +\n\"09:00 - 10-00: \" + heat_table[9].toString() + \"\\n\" +\n\"10:00 - 11-00: \" + heat_table[10].toString() + \"\\n\" +\n\"11:00 - 12-00: \" + heat_table[11].toString() + \"\\n\" +\n\"12:00 - 13-00: \" + heat_table[12].toString() + \"\\n\" +\n\"13:00 - 14-00: \" + heat_table[13].toString() + \"\\n\" +\n\"14:00 - 15-00: \" + heat_table[14].toString() + \"\\n\" +\n\"15:00 - 16-00: \" + heat_table[15].toString() + \"\\n\" +\n\"16:00 - 17-00: \" + heat_table[16].toString() + \"\\n\" +\n\"17:00 - 18-00: \" + heat_table[17].toString() + \"\\n\" +\n\"18:00 - 19-00: \" + heat_table[18].toString() + \"\\n\" +\n\"19:00 - 20-00: \" + heat_table[19].toString() + \"\\n\" +\n\"20:00 - 21-00: \" + heat_table[20].toString() + \"\\n\" +\n\"21:00 - 22-00: \" + heat_table[21].toString() + \"\\n\" +\n\"22:00 - 23-00: \" + heat_table[22].toString() + \"\\n\" +\n\"23:00 - 00-00: \" + heat_table[23].toString() + \"\\n\" \nmsg.payload =txt;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 680,
        "wires": [
            [
                "55800122a959d298"
            ]
        ]
    },
    {
        "id": "55800122a959d298",
        "type": "template",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<pre>{{payload}}</pre>",
        "output": "str",
        "x": 1080,
        "y": 680,
        "wires": [
            [
                "da0084355b52f7e4"
            ]
        ]
    },
    {
        "id": "da0084355b52f7e4",
        "type": "ui_text",
        "z": "ebe6a6c575db3baa",
        "group": "62fd0e689c033d46",
        "order": 1,
        "width": "1",
        "height": "7",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1210,
        "y": 680,
        "wires": []
    },
    {
        "id": "a679e6517f4f997d",
        "type": "delay",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "5bbb6edab18cd4ce"
            ]
        ]
    },
    {
        "id": "7132e769569d06f1",
        "type": "zigbee2mqtt-in",
        "z": "ebe6a6c575db3baa",
        "name": "tempHum",
        "server": "be058c0d9a6fb12a",
        "friendly_name": "TempHum (SNZB-02D)",
        "device_id": "0x30fb10fffe6f0f94",
        "state": "temperature",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 160,
        "y": 740,
        "wires": [
            [
                "b4cdac4512465e9e"
            ]
        ]
    },
    {
        "id": "b4cdac4512465e9e",
        "type": "ui_text",
        "z": "ebe6a6c575db3baa",
        "group": "a9cd4dfb2fda1c33",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "°C",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 310,
        "y": 740,
        "wires": []
    },
    {
        "id": "6987557f019f9d59",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[0]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload=0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 880,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "01ebdef41548566f",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "00:00-01:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 880,
        "wires": [
            [
                "6987557f019f9d59"
            ]
        ]
    },
    {
        "id": "3c8b24242cd406bd",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[1]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 920,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "4986fda81c533062",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "01:00-02:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 920,
        "wires": [
            [
                "3c8b24242cd406bd"
            ]
        ]
    },
    {
        "id": "bab31b160ab358cf",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[2]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 960,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "db240a5b36704b5b",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "02:00-03:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 960,
        "wires": [
            [
                "bab31b160ab358cf"
            ]
        ]
    },
    {
        "id": "4729229de186a93e",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[3]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "254ba5cac19b58ef",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "03:00-04:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "4729229de186a93e"
            ]
        ]
    },
    {
        "id": "37e3d47308531eb0",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[4]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "c5f1b30e867dd396",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "04:00-05:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1040,
        "wires": [
            [
                "37e3d47308531eb0"
            ]
        ]
    },
    {
        "id": "c0f2a9be90010dae",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[5]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "d780b53e358d0c0d",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "05:00-06:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "c0f2a9be90010dae"
            ]
        ]
    },
    {
        "id": "962be4839f36ae63",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[6]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1120,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "4cea7314620ec2f4",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "06:00-07:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "962be4839f36ae63"
            ]
        ]
    },
    {
        "id": "587a06ab4cb4881a",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[7]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "641ea5d93e66c48e",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "07:00-08:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "587a06ab4cb4881a"
            ]
        ]
    },
    {
        "id": "bcdb821fca06fd9d",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[8]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "a760de38588e608d",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "08:00-09:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1200,
        "wires": [
            [
                "bcdb821fca06fd9d"
            ]
        ]
    },
    {
        "id": "7a20d33cb5996125",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[9]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "df556c3422f1f688",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "09:00-10:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1240,
        "wires": [
            [
                "7a20d33cb5996125"
            ]
        ]
    },
    {
        "id": "4ca69f2466619e2d",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[10]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1280,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "0fa2d3a4f0609b8a",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "10:00-11:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1280,
        "wires": [
            [
                "4ca69f2466619e2d"
            ]
        ]
    },
    {
        "id": "801945aebb9753ce",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[11]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1320,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "7de99b091abd153f",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "11:00-12:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "801945aebb9753ce"
            ]
        ]
    },
    {
        "id": "2a691a45db15612c",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[12]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "fd8d26e5f3a41151",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "12:00-13:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1360,
        "wires": [
            [
                "2a691a45db15612c"
            ]
        ]
    },
    {
        "id": "e3a0c4cc8048c312",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[13]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1400,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "98198ca6394946ab",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "13:00-14:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "e3a0c4cc8048c312"
            ]
        ]
    },
    {
        "id": "02eb029a8b68aa32",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[14]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1440,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "552798adaef8e7b5",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "14:00-15:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1440,
        "wires": [
            [
                "02eb029a8b68aa32"
            ]
        ]
    },
    {
        "id": "e8199afd68a6cc68",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[15]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1480,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "23384d55ea062441",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "15:00-16:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "e8199afd68a6cc68"
            ]
        ]
    },
    {
        "id": "f990f0b32e753bb3",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[16]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1520,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "5820e332e416f7b7",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "16:00-17:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "f990f0b32e753bb3"
            ]
        ]
    },
    {
        "id": "e0c292181ed146cf",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[17]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1560,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "7ba764c460522663",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "17:00-18:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1560,
        "wires": [
            [
                "e0c292181ed146cf"
            ]
        ]
    },
    {
        "id": "dd8862eeea351ee4",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[18]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1600,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "6485982d3198330e",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "18:00-19:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1600,
        "wires": [
            [
                "dd8862eeea351ee4"
            ]
        ]
    },
    {
        "id": "6941bd9ab42246f4",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[19]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1640,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "729804f5a16521a8",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "19:00-20:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 21,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1640,
        "wires": [
            [
                "6941bd9ab42246f4"
            ]
        ]
    },
    {
        "id": "680853c606b76252",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[20]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1680,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "772dd4a5feadc350",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "20:00-21:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1680,
        "wires": [
            [
                "680853c606b76252"
            ]
        ]
    },
    {
        "id": "40a5d224548cdbd4",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[21]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1720,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "42ef4885bff5a925",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "21:00-22:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 23,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1720,
        "wires": [
            [
                "40a5d224548cdbd4"
            ]
        ]
    },
    {
        "id": "fcd9c26f8dc4efdf",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[22]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1760,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "a0fe22095df7d111",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "22:00-23:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 24,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "fcd9c26f8dc4efdf"
            ]
        ]
    },
    {
        "id": "4c410cb806f0a9f9",
        "type": "function",
        "z": "ebe6a6c575db3baa",
        "name": "heating value",
        "func": "var mystate = global.get(\"heat_table\");\n\nmystate.values[23]=msg.payload;\nglobal.set(\"heat_table\", mystate); // to store a variable\n\nmsg.payload = 0;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1800,
        "wires": [
            [
                "c246c53387d7fbcc"
            ]
        ]
    },
    {
        "id": "6f59e8aabe182cae",
        "type": "ui_slider",
        "z": "ebe6a6c575db3baa",
        "name": "",
        "label": "23:00-00:00",
        "tooltip": "",
        "group": "62fd0e689c033d46",
        "order": 25,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "40",
        "step": "5",
        "x": 490,
        "y": 1800,
        "wires": [
            [
                "4c410cb806f0a9f9"
            ]
        ]
    }
]
